<h1><%= @song.title %></h1>

<ul>
  <li><label>Released (true/false): </label><%= @song.released %></li>

  <li><label>Released year: </label><%= @song.release_year %></li>

  <li><label>Artist Name: </label><%= @song.artist_name %></li>

  <li><label>Genre: </label><%= @song.genre %></li>
</ul>
